* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}
body {
    background-color: #f9f9f9;
}
.page-wrapper {
    max-width: 600px;
    margin: auto;
    padding: 80px 0;
}
h1 {
    color: #303030;
    text-align: center;
    font-weight: 600;
    margin-bottom: 36px;
}
input {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row input {
    width: 48%;
}

table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
}
th {
    color: #808080;
    text-align: left;
}
td {
    color: #303030;
}
button {
    border: none;
    background: #808080;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
}
.error {
    background: crimson;
    color: #f9f9f9;
    padding: 10px;
}

.success {
    background: #20b2aa;
    color: #f9f9f9;
    padding: 10px;
}